* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans";
}

.hide {
  display: none;
}

.main-desktop {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url(../img/wallpaper.jpg);
  background-size: cover;
}
.main-desktop .icon-table {
  width: 150px;
  padding: 35px;
}
.main-desktop .icon-table .icon-item {
  width: 50px;
  height: 50px;
  margin: 15px;
  margin-bottom: 50px;
}
.main-desktop .icon-table .icon-item img {
  max-height: 100%;
}
.main-desktop .icon-table .icon-item p {
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
}

.app-border {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgb(0, 88, 238) 0%, rgb(53, 147, 255) 4%, rgb(40, 142, 255) 6%, rgb(18, 125, 255) 8%, rgb(3, 111, 252) 10%, rgb(2, 98, 238) 14%, rgb(0, 87, 229) 20%, rgb(0, 84, 227) 24%, rgb(0, 85, 235) 56%, rgb(0, 91, 245) 66%, rgb(2, 106, 254) 76%, rgb(0, 98, 239) 86%, rgb(0, 82, 214) 92%, rgb(0, 64, 171) 94%, rgb(0, 48, 146) 100%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.app-border .app-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-border .app-name .app-name-img {
  height: 100%;
  padding: 2px;
}
.app-border .app-name .app-name-para {
  font-weight: 700;
  line-height: 25px;
  text-shadow: rgb(0, 0, 0) 1px 1px;
  font-size: 1rem;
  color: #fff;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.app-border .app-buttons {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 10px;
}
.app-border .app-buttons .header_button {
  margin: 2px;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.app-border .app-buttons .header_button-min,
.app-border .app-buttons .header_button-max {
  box-shadow: #4646ff 0px -1px 2px 1px inset;
  background-image: radial-gradient(circle at 90% 90%, rgb(0, 84, 233) 0%, rgb(34, 99, 213) 55%, rgb(68, 121, 228) 70%, rgb(163, 187, 236) 90%, white 100%);
}
.app-border .app-buttons .header_button-close {
  content: "";
  box-shadow: #da4600 0px -1px 2px 1px inset;
  background-image: radial-gradient(circle at 90% 90%, rgb(204, 70, 0) 0%, rgb(220, 101, 39) 55%, rgb(205, 117, 70) 70%, rgb(255, 204, 178) 90%, white 100%);
}

.app-nav .app-top-nav,
.app-nav .app-mid-nav {
  background-color: #ede8d0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1490196078);
}
.app-nav .app-top-nav {
  width: 100%;
  height: 20px;
}
.app-nav .app-top-nav a {
  color: #000;
  text-decoration: none;
  padding: 4px;
  font-size: 0.7rem;
}
.app-nav .app-top-nav a:hover {
  background-color: #4646ff;
  color: #fff;
}
.app-nav .app-mid-nav {
  display: flex;
  height: 30px;
  padding: 2px;
}
.app-nav .app-mid-nav .arrows,
.app-nav .app-mid-nav .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-nav .app-mid-nav .arrows {
  padding: 2px;
}
.app-nav .app-mid-nav img {
  max-height: 90%;
  margin-right: 3px;
  margin-left: 3px;
}
.app-nav .app-mid-nav .separator {
  height: 90%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 2px;
}

.internet-exp {
  height: 300px;
  width: 600px;
  position: relative;
  z-index: 5;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 3px solid #0831d9;
  border-right: 3px solid #0831d9;
  border-bottom: 3px solid #0831d9;
}

.bottom-taskbar {
  height: 30px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  background: linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%);
}
.bottom-taskbar .left {
  height: 100%;
  flex: 1 1 0%;
  overflow: hidden;
}
.bottom-taskbar .left .start-menu {
  position: absolute;
  left: 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  bottom: 100%;
}
.bottom-taskbar .left .start-menu .menu {
  width: 380px;
  height: 500px;
  background-color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.bottom-taskbar .left .start-menu .menu header {
  position: relative;
  align-self: flex-start;
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 60px;
  padding: 6px 5px 5px;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid #275fb4;
  background: linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%);
  overflow: hidden;
}
.bottom-taskbar .left .start-menu .menu header .header-pfp {
  width: 55px;
  height: 45px;
  border-radius: 2px;
  margin-right: 10px;
  border: 2px solid rgba(222, 222, 222, 0.8);
}
.bottom-taskbar .left .start-menu .menu header .header-pfp-user {
  font-size: 1rem;
  cursor: default;
}
.bottom-taskbar .left .start-menu .menu section {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.bottom-taskbar .left .start-menu .menu section .menu_left {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.bottom-taskbar .left .start-menu .menu section .menu_right {
  background-color: #cbe3ff;
  border-left: 1px solid rgba(58, 58, 255, 0.368627451);
  width: 50%;
  color: rgb(0, 19, 107);
}
.bottom-taskbar .left .start-menu .menu footer {
  display: flex;
  height: 40px;
  width: 100%;
  color: #ffffff;
  background: linear-gradient(rgb(66, 130, 214) 0%, rgb(59, 133, 224) 3%, rgb(65, 138, 227) 5%, rgb(65, 138, 227) 17%, rgb(60, 135, 226) 21%, rgb(55, 134, 228) 26%, rgb(52, 130, 227) 29%, rgb(46, 126, 225) 39%, rgb(35, 116, 223) 49%, rgb(32, 114, 219) 57%, rgb(25, 110, 219) 62%, rgb(23, 107, 216) 72%, rgb(20, 104, 213) 75%, rgb(17, 101, 210) 83%, rgb(15, 97, 203) 88%);
}
.bottom-taskbar .left .img-start {
  height: 100%;
  transform: scale(1.1);
}
.bottom-taskbar .left .img-start:hover {
  filter: brightness(110%);
}
.bottom-taskbar .right {
  height: 100%;
  width: 100px;
  position: absolute;
  right: 0;
  border-left: 1px solid #094083;
  background: linear-gradient(rgb(12, 89, 185) 1%, rgb(19, 158, 233) 6%, rgb(24, 181, 242) 10%, rgb(19, 155, 235) 14%, rgb(18, 144, 232) 19%, rgb(13, 141, 234) 63%, rgb(13, 159, 241) 81%, rgb(15, 158, 237) 88%, rgb(17, 155, 233) 91%, rgb(19, 146, 226) 94%, rgb(19, 126, 215) 97%, rgb(9, 91, 201) 100%);
}
.bottom-taskbar .right .clock {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-taskbar .right .clock span {
  font-size: 0.8rem;
  color: #fff;
}/*# sourceMappingURL=style.css.map */