@use 'colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-family: 'Noto Sans';
}

.hide {
	display: none;
}

// DESKTOP

.main-desktop {
	width: 100%;
	height: 100vh;
	display: flex;
	background-image: url(../img/wallpaper.jpg);
	background-size: cover;

	.icon-table {
		width: 150px;
		padding: 35px;
		.icon-item {
			width: 50px;
			height: 50px;
			margin: 15px;
			margin-bottom: 50px;
			img {
				max-height: 100%;
			}
			p {
				text-align: center;
				color: #fff;
				font-size: 0.7rem;
			}
		}
	}
}

// APPS NAVIGATION // TOP BAR REUSABLE

.app-border {
	width: 100%;
	height: 25px;
	display: flex;
	justify-content: space-between;
	background: colors.$app-border;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	.app-name {
		display: flex;
		justify-content: center;
		align-items: center;
		.app-name-img {
			height: 100%;
			padding: 2px;
		}
		.app-name-para {
			font-weight: 700;
			line-height: 25px;
			text-shadow: rgb(0, 0, 0) 1px 1px;
			font-size: 1rem;
			color: #fff;
			cursor: default;
			user-select: none;
		}
	}

	.app-buttons {
		display: flex;
		align-items: center;
		height: 100%;
		padding-right: 10px;
		.header_button {
			margin: 2px;
			width: 18px;
			height: 18px;
			border: 1px solid #ffffff;
			border-radius: 3px;
		}
		.header_button-min,
		.header_button-max {
			box-shadow: #4646ff 0px -1px 2px 1px inset;
			background-image: colors.$app-button-background;
		}
		.header_button-close {
			content: '';
			box-shadow: #da4600 0px -1px 2px 1px inset;
			background-image: colors.$app-button-close-background;
		}
	}
}
.app-nav {
	.app-top-nav,
	.app-mid-nav {
		background-color: #ede8d0;
		border-bottom: 1px solid #00000026;
	}
	.app-top-nav {
		width: 100%;
		height: 20px;
		a {
			color: #000;
			text-decoration: none;
			padding: 4px;
			font-size: 0.7rem;
			&:hover {
				background-color: #4646ff;
				color: #fff;
			}
		}
	}
	.app-mid-nav {
		display: flex;
		height: 30px;
		padding: 2px;
		.arrows,
		.search {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.arrows {
			padding: 2px;
		}
		img {
			max-height: 90%;
			margin-right: 3px;
			margin-left: 3px;
		}
		.separator {
			height: 90%;
			width: 1px;
			background-color: rgba(0, 0, 0, 0.2);
			margin: 0px 2px;
		}
	}
}

// Internet Explorer styles

.internet-exp {
	height: 300px;
	width: 600px;
	position: relative;
	z-index: 5;
	background-color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-left: 3px solid colors.$windows-main-color;
	border-right: 3px solid colors.$windows-main-color;
	border-bottom: 3px solid colors.$windows-main-color;
}

// BOTTOM TASKBAR

.bottom-taskbar {
	height: 30px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	display: flex;
	background: colors.$taskbar-background;
	.left {
		height: 100%;
		flex: 1 1 0%;
		overflow: hidden;

		.start-menu {
			position: absolute;
			left: 0px;
			box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
			bottom: 100%;
			.menu {
				width: 380px;
				height: 500px;
				background-color: #fff;
				border-top-left-radius: 2px;
				border-top-right-radius: 2px;
				header {
					position: relative;
					align-self: flex-start;
					display: flex;
					-webkit-box-align: center;
					align-items: center;
					color: #ffffff;
					height: 60px;
					padding: 6px 5px 5px;
					width: 100%;
					border-top-left-radius: 2px;
					border-top-right-radius: 2px;
					border-bottom: 1px solid #275fb4;
					background: colors.$start-menu-top-background;
					overflow: hidden;
					.header-pfp {
						width: 55px;
						height: 45px;
						border-radius: 2px;
						margin-right: 10px;
						border: 2px solid #dededecc;
					}
					.header-pfp-user {
						font-size: 1rem;
						cursor: default;
					}
				}
				section {
					width: 100%;
					height: 400px;
					display: flex;
					justify-content: space-between;
					.menu_left {
						display: flex;
						flex-direction: column;
						background-color: #ffffff;
					}
					.menu_right {
						background-color: #cbe3ff;
						border-left: 1px solid #3a3aff5e;
						width: 50%;
						color: rgb(0, 19, 107);
					}
				}
				footer {
					display: flex;
					height: 40px;
					width: 100%;
					color: #ffffff;
					background: colors.$start-menu-bottom-background;
				}
			}
		}
		.img-start {
			height: 100%;
			transform: scale(1.1);
			&:hover {
				filter: brightness(110%);
			}
		}
	}

	.right {
		height: 100%;
		width: 100px;
		position: absolute;
		right: 0;
		border-left: 1px solid #094083;
		background: colors.$taskbar-right-section-background;
		.clock {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			span {
				font-size: 0.8rem;
				color: #fff;
			}
		}
	}
}
